:root{
  --black: #000;
  --brown: #C5A173;
}

body{
  background-color: var(--black);
}

.entranceBox{
  position: absolute;
  width: 886px;
  height: 476px;
  left: calc(50% - 886px/2);
  top: calc(50% - 476px/2);
  
  background: var(--black);
  box-shadow: 0px 2px 39px 1px var(--black), 0px 4px 27px 30px var(--brown);
}